
<ul>

<%	for issue in @issues do
		project = issue.project
		can_edit = User.current.allowed_to?(:edit_issues, project)
		assignables = issue.assignable_users
		allowed_statuses = issue.new_statuses_allowed_to
		safe_attributes = issue.safe_attribute_names
%>

<%		if @issues.length > 1 then %>
		<li class="folder">
			<a href="#" class="submenu">
				<%= issue.start_date.strftime('%m/%d') %>
				-
				<%= issue.due_date.strftime('%m/%d') %>:
				<%= issue.subject %>
			</a>
			<ul>
<%		end %>

		<li>
			<%= context_menu_link "View", issue_path(issue) %>
		</li>

		<li>
			<%= context_menu_link l(:button_edit),
				edit_issue_path(issue),
				:class => 'icon-edit',
				:disabled => ! can_edit
			%>
		</li>

<%		if @issues.length <= 1 then %>

		<% if allowed_statuses.present? then %>
		<li class="folder">
			<a href="#" class="submenu"><%= l(:field_status) %></a>
			<ul>
				<% allowed_statuses.each do |s| %>
				<li>
					<%= context_menu_link h(s.name), "#",
						:onclick => "__my_process_click(\"set_status\", {issue_id:\"#{issue.id}\", status:\"#{s.id}\"}); return false",
						:selected => s == issue.status,
						:disabled => ! can_edit
					%>
				</li>
				<% end %>
			</ul>
		</li>
		<% end %>

		<% if safe_attributes.include?('assigned_to_id') && assignables.present? then %>
		<li class="folder">
			<a href="#" class="submenu"><%= l(:field_assigned_to) %></a>
			<ul>
				<% if assignables.include?(User.current) then %>
				<li>
					<%= context_menu_link "<< #{l(:label_me)} >>", "#",
						:onclick => "__my_process_click(\"set_assignee\", {issue_id:\"#{issue.id}\", assignee:\"#{User.current.id}\"}); return false",
						:selected => User.current == issue.assigned_to,
						:disabled => ! can_edit
					%>
				</li>
				<% end %>

				<% assignables.each do |u| %>
				<li>
					<%= context_menu_link h(u.name), "#",
						:onclick => "__my_process_click(\"set_assignee\", {issue_id:\"#{issue.id}\", assignee:\"#{u.id}\"}); return false",
						:selected => u == issue.assigned_to,
						:disabled => ! can_edit
					%>
				</li>
				<% end %>
			</ul>
		</li>
		<% end %>

		<% if safe_attributes.include?('done_ratio') && Issue.use_field_for_done_ratio? then %>
		<li class="folder">
			<a href="#" class="submenu"><%= l(:field_done_ratio) %></a>
			<ul>
			<% (0..10).map{|x|x*10}.each do |p| -%>
				<li>
				<%= context_menu_link "#{p}%", "#",
					:onclick => "__my_process_click(\"set_done_ratio\", {issue_id:\"#{issue.id}\", done_ratio:\"#{p}\"}); return false",
					:selected => (issue && p == issue.done_ratio),
					:disabled => ! (can_edit && issue.leaf?)
				%>
				</li>
			<% end %>
			</ul>
		</li>
		<% end %>

<%		end %>

<%		if @issues.length > 1 then %>
			</ul>
		</li>
<%		end %>

<%	end %>
		
<%	if @issues.length > 0 then %>

		<li> <hr> </li>

<%	end %>

		<li class="folder">
			<a href="#" class="submenu">New</a>
			<ul>
				<li><%=
					context_menu_link "AX",
						request.base_url +
						#"/redmine" +
						"/projects/ax/issues/new?" +
						"issue[tracker_id]="+"6"+"&" +
						"issue[assigned_to_id]="+params[:context_menu_user_id]+"&" +
						"issue[start_date]="+params[:context_menu_date]+"&" +
						"issue[due_date]="+params[:context_menu_date]+"&" +
						"issue[subject]="+"TODO"
				%></li>
				<li><%=
					context_menu_link "X2",
						request.base_url +
						#"/redmine" +
						"/projects/x2/issues/new?" +
						"issue[tracker_id]="+"6"+"&" +
						"issue[assigned_to_id]="+params[:context_menu_user_id]+"&" +
						"issue[start_date]="+params[:context_menu_date]+"&" +
						"issue[due_date]="+params[:context_menu_date]+"&" +
						"issue[subject]="+"TODO"
				%></li>
				<li><%=
					context_menu_link "Refresh",
						request.base_url +
						#"/redmine" +
						"/projects/refresh/issues/new?" +
						"issue[tracker_id]="+"6"+"&" +
						"issue[assigned_to_id]="+params[:context_menu_user_id]+"&" +
						"issue[start_date]="+params[:context_menu_date]+"&" +
						"issue[due_date]="+params[:context_menu_date]+"&" +
						"issue[subject]="+"TODO"
				%></li>
				<li><%=
					context_menu_link "New SW Master",
						request.base_url +
						#"/redmine" +
						"/projects/new-software-master/issues/new?" +
						"issue[tracker_id]="+"6"+"&" +
						"issue[assigned_to_id]="+params[:context_menu_user_id]+"&" +
						"issue[start_date]="+params[:context_menu_date]+"&" +
						"issue[due_date]="+params[:context_menu_date]+"&" +
						"issue[subject]="+"TODO"
				%></li>

				<li> <hr> </li>

				<li><%=
					context_menu_link "CZ Private",
						request.base_url +
						#"/redmine" +
						"/projects/cz-private/issues/new?" +
						"issue[tracker_id]="+"6"+"&" +
						"issue[assigned_to_id]="+params[:context_menu_user_id]+"&" +
						"issue[start_date]="+params[:context_menu_date]+"&" +
						"issue[due_date]="+params[:context_menu_date]+"&" +
						"issue[subject]="+"TODO"
				%></li>

				<li><%=
					context_menu_link "VAC",
						request.base_url +
						#"/redmine" +
						"/projects/tasktracker/issues/new?" +
						"issue[tracker_id]="+"10"+"&" +
						"issue[assigned_to_id]="+params[:context_menu_user_id]+"&" +
						"issue[start_date]="+params[:context_menu_date]+"&" +
						"issue[due_date]="+params[:context_menu_date]+"&" +
						"issue[subject]="+"VAC"
				%></li>
			</ul>
		</li>

		<li>
			<%= context_menu_link "Reload Table", "#",
				:onclick => "__my_process_click(\"table\", {}); return false",
				:class => 'icon-reload'
			%>
		</li>

</ul>

