<h2>standup</h2>

<% table_start_date = params[:table_start_date] %>
<% if not table_start_date then table_start_date = 'today' end %>

<% table_filter = params[:table_filter] %>

<form>
	<div class="box">
		<table>
		<tr>
			<td>
				<label for='table_start_date'>First day to show:</label>
			</td>
			<td>
				<input id="table_start_date" name="table_start_date" autocomplete="off" size="10" type="text" value="<%= table_start_date %>"/>
				<%= calendar_for('table_start_date') %>
			</td>
		</tr>
		<tr>
			<td>
				<label for='table_filter'>Filter:</label>
			</td>
			<td>
				<input id="table_filter" name="table_filter" autocomplete="off" size="10" type="text" value="<%= table_filter %>"/>
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
				<input type="submit" value="Apply">
			</td>
		</tr>
		</table>
	</div>
</form>

<form accept-charset="UTF-8" method="post">
	<input name="context_menu_user_id" type="hidden" value=""/>
	<input name="context_menu_issue_id" type="hidden" value=""/>
	<input name="context_menu_date" type="hidden" value=""/>

	<div id='div_with_table'>

	</div>
</form>

<br>
<br>

<script type="text/javascript">
//<![CDATA[

	function __issue_in(event) {
		var issue_id = $(event.target).attr("issue_id")
		$("[name=issue"+issue_id+"]").each(function() {
			var e = $(this)
			e.attr("style", e.attr("orig_style") + "; color:black; background-color:#ff9080; border-color:#8f1000")
		})
	}
	function __issue_out(event) {
		var issue_id = $(event.target).attr("issue_id")
		$("[name=issue"+issue_id+"]").each(function() {
			var e = $(this)
			e.attr("style", e.attr("orig_style"))
		})
	}

	function __right_click(event) {
		var t = $(event.target)
		var d = t.closest(".draggable")
		if (d.length) {
			t = d
		} else {
			t = t.closest("td[user_id]")
			if (!t.length) { return }
		}

		$("input[name=context_menu_user_id]" ).val( t.attr("user_id") )
		$("input[name=context_menu_issue_id]").val( t.attr("issue_id") )
		$("input[name=context_menu_date]"    ).val( t.attr("date") )
	}

	function __helper() {
		var t = $(this)
		var q = t.clone()
		q.css("width", t.width())
		return q
	}
	function __allow_drop(task) {
		var cell = $(this)
		return (cell.attr("user_id") != task.attr("user_id")) ||
		       ( cell.attr("date") != "" &&
		         cell.attr("date") != task.attr("date") &&
		         ( (task.attr("is_start") != "") ||
		           (task.attr("is_end") != "")
		         )
		       )
	}
	function __drop(e, ui) {
		var task = $(ui.draggable)
		var cell = $(this)

		if (cell.attr("user_id") != task.attr("user_id")) {
			__my_process_click("set_assignee", {
				issue_id: task.attr("issue_id"),
				assignee: cell.attr("user_id"),
			})
		} else {
			__my_process_click("drag_and_drop_date", {
				issue_id: task.attr("issue_id"),
				is_start: task.attr("is_start"),
				is_end: task.attr("is_end"),
				date: cell.attr("date")
			})
		}

		$(ui.helper).remove()
	}
	function __after_reload() {
		$(".draggable").draggable({
			helper: __helper,
			revert: "invalid",
			//containment: "window",
			//appendTo: 'body',
		});
		$(".droppable").droppable({drop: __drop, accept:__allow_drop})
		$(".issue_div").hover(__issue_in, __issue_out)
	}
	function __my_process_click(page, attrs) {
		attrs.table_start_date = "<%= table_start_date %>"
		attrs.table_filter = "<%= table_filter %>"
		$("#div_with_table").load("<%= standup_path %>/"+page, attrs, __after_reload);
	}
	function __init() {
		var attrs = {}
		attrs.table_start_date = "<%= table_start_date %>"
		attrs.table_filter = "<%= table_filter %>"
		$("#div_with_table").load("<%= standup_path %>/table", attrs, __after_reload);
		$("#table_start_date").datepicker();
	}

	$(document).contextmenu(__right_click);
	$(document).tooltip({
		items: "[title]",
		show: {
			delay: 600,
		},
		content: function() {
			var element = $( this );
			return element.attr( "title" );
		}
	})

	$(__init)
//]]>
</script>

<%= context_menu standup_context_menu_path %>

