<%
	past_text_color = "200,240,255"
	past_color = "100,120,160"
	weekend_text_color = "255,240,240"
	weekend_color = "160,120,120"
%>

<table style="border:none; border-collapse:collapse; table-layout:fixed; width:100%">
	<tr style="color:black; background-color:white; font-weight:bold; text-align:center; border-style: none none solid none; border-width:0.3em; border-color:black">
		<!-- name -->
		<td style="width:10%; vertical-align:center; padding:0.5em; border-style:none">
		</td>

		<!-- past -->
		<td style="width:10%; vertical-align:center; padding:0.5em; color:rgb(<%=past_text_color%>); background-color:rgb(<%=past_color%>)">
			past
		</td>

		<!-- ... -->
		<td style="width:1.5em; text-align:center; vertical-align:center; padding:0em; border-style:none solid none solid; border-width:0.2em; border-color:rgb(<%=past_color%>); background-color:rgba(<%=past_color%>,0.6); color:black">
		</td>

		<!-- days -->
<%	for day in @first_day .. @last_day do %>

<%		if day.saturday? then %>
			<td style="width:10%; vertical-align:center; padding:0.5em; color:rgb(<%=weekend_text_color%>); background-color:rgb(<%=weekend_color%>); border-style:none none none solid; border-width:0.2em; border-color:rgb(<%=weekend_color%>)">
<%		elsif day.sunday? then %>
			<td style="width:10%; vertical-align:center; padding:0.5em; color:rgb(<%=weekend_text_color%>); background-color:rgb(<%=weekend_color%>); border-style:none solid none none; border-width:0.2em; border-color:rgb(<%=weekend_color%>)">
<%		else %>
			<td style="width:20%; vertical-align:center; padding:0.5em; border-style:none solid none solid; border-width:0.1em; border-color:#808080">
<%		end %>

				<%= day.strftime("%a") %>
				<br>
				<%= day.strftime("%Y-%m-%d") %>

			</td>
<%	end %>

		<!-- ... -->
		<td style="width:1.5em; text-align:center; vertical-align:center; padding:0em; border-style:none solid none solid; border-width:0.2em; border-color:rgb(<%=past_color%>); background-color:rgba(<%=past_color%>,0.6); color:black">
		</td>

		<!-- future -->
		<td style="width:10%; vertical-align:center; padding:0.5em; color:rgb(<%=past_text_color%>); background-color:rgb(<%=past_color%>)">
			future
		</td>

	</tr>

<%	for user in @users do

		if not @show_user[user.id] then
			next
		end

		past = @issues_by_user[user.id]["past"]
		present = @issues_by_user[user.id]["present"]
		future = @issues_by_user[user.id]["future"]

		past_closed = true
		for i in past do
			if not i.is_closed then
				past_closed = false
				break
			end
		end
%>

		<tr class="hascontextmenu" style="background-color:<%= cycle('rgb(210,220,230)','#ffffff') %>; border-style: none; border-bottom-style:solid; border-bottom-width:0.2em; border-bottom-color:#686868">

			<!-- name -->
			<td
				class="droppable"
				user_id="<%= user.id %>"
				date=""

<%				if past_closed then %>
				style="vertical-align:top; font-weight:bold; padding:0.2em"
<%				else %>
				style="vertical-align:top; font-weight:bold; padding:0.2em; background-color:rgba(255,0,0,0.5); color:white"
<%				end %>
			>
				<%= user.firstname + " " + user.lastname %>
			</td>

			<!-- past -->
			<td
				class="droppable"
				user_id="<%= user.id %>"
				date=""

<%				if past_closed then %>
				style="vertical-align:top; padding:0.2em; background-color:rgba(<%=past_color%>,0.3)"
<%				else %>
				style="vertical-align:top; padding:0.2em; background-color:rgba(255,0,0,0.5)"
<%				end %>
			>
<%			for issue in past do %>
<%=				render_box(user, issue, nil, false) %>
<%			end %>
			</td>

			<!-- ... -->
			<td
				class="droppable"
				user_id="<%= user.id %>"
				date=""

				style="text-align:center; vertical-align:center; padding:0em; border-style:none solid none solid; border-width:0.2em; border-color:rgb(<%=past_color%>); color:white; background-color:rgba(<%=past_color%>,0.6); color:black"
			>
				...
			</td>


		<!-- days -->
<%		for day in @first_day .. @last_day do %>

<%			if day.saturday? then %>
<%				weekend = true %>
				<td
					class="droppable"
					user_id="<%= user.id %>"
					date="<%= day.strftime("%Y-%m-%d") %>"

					style="vertical-align:top; padding:0.2em; background-color:rgba(<%=weekend_color%>, 0.3); border-style:none none none solid; border-width:0.2em; border-color:rgb(<%=weekend_color%>)"
				>
<%			elsif day.sunday? then %>
<%				weekend = true %>
				<td
					class="droppable"
					user_id="<%= user.id %>"
					date="<%= day.strftime("%Y-%m-%d") %>"

					style="vertical-align:top; padding:0.2em; background-color:rgba(<%=weekend_color%>, 0.3); border-style:none solid none none; border-width:0.2em; border-color:rgb(<%=weekend_color%>)"
				>
<%			else %>
<%				weekend = false %>
				<td
					class="droppable"
					user_id="<%= user.id %>"
					date="<%= day.strftime("%Y-%m-%d") %>"

					style="vertical-align:top; padding:0.2em; border-style:none solid none solid; border-width:0.1em; border-color:#808080"
				>
<%			end %>

<%				for group in present do
					for issue in group do %>
<%=						render_box(user, issue, day, weekend) %>
<%					end
				end %>

				</td>
<%		end %>


			<!-- ... -->
			<td
				class="droppable"
				user_id="<%= user.id %>"
				date=""

				style="text-align:center; vertical-align:center; padding:0em; border-style:none solid none solid; border-width:0.2em; border-color:rgb(<%=past_color%>); color:white; background-color:rgba(<%=past_color%>,0.6); color:black"
			>
				...
			</td>

			<!-- future -->
			<td
				class="droppable"
				user_id="<%= user.id %>"
				date=""

				style="vertical-align:top; padding:0.2em; background-color:rgba(<%=past_color%>,0.3)"
			>
<%			for issue in future do %>
<%=				render_box(user, issue, nil, false) %>
<%			end %>
			</td>

		</tr>

<%	end %>

</table>

